@charset "utf-8";
/* UNIFORMED BROWSER RESET base on Eric Meyer reset (http://meyerweb.mzc_com/eric/tools/css/reset/) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
em, img, small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
html {font-size: 100%;height:100%; background: #F9F9F9;font-family: "Microsoft YaHei", "Microsoft YaHei";}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
input { margin: 0; }
textarea { font-family: 'Microsoft YaHei'; overflow-y: auto; }
.bigButton, .bigButton:visited {
    background: #222 repeat-x;
    display: inline-block;
    padding: 35px 40px 36px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    text-shadow: 0 -3px 3px rgba(0,0,0,0.25);
    border-bottom: 3px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}
.small.bigButton, .small.bigButton:visited        { font-size: 11px}
.bigButton, .bigButton:visited,
.medium.bigButton, .medium.bigButton:visited      { font-size: 60px;
                                              font-weight: bold;
                                              line-height: 1;
                                              text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
                                              }
 
.large.bigButton, .large.bigButton:visited        { font-size: 14px;
                                          padding: 8px 14px 9px; }
 
.super.bigButton, .super.bigButton:visited        { font-size: 34px;
                                          padding: 8px 14px 9px; }

.pink.bigButton, .magenta.bigButton:visited { background-color: #e22092; }
    .pink.bigButton:hover                   { background-color: #c81e82; }
    .green.bigButton, .green.bigButton:visited    { background-color: #91bd09; }
    .green.bigButton:hover                     { background-color: #749a02; }
    .red.bigButton, .red.bigButton:visited        { background-color: #e62727; }
    .red.bigButton:hover                   { background-color: #cf2525; }
    .orange.bigButton, .orange.bigButton:visited  { background-color: #ff5c00; }
    .orange.bigButton:hover                { background-color: #d45500; }
    .blue.bigButton, .blue.bigButton:visited              { background-color: #2981e4; color: #fff; }
    .blue.bigButton:hover                  { background-color: #2575cf; }
    .yellow.bigButton, .yellow.bigButton:visited  { background-color: #ffb515; }
    .yellow.bigButton:hover                { background-color: #fc9200; }
.blue {
	color: #2981e4;
}


#wrapper {
	width: 100%;
	margin: 0 auto;
	height: 100%;
}
#header {
	width: 100%;
	height: 120px;
	background: #32556B;
}
	#header h1 {
		color: #FFC605;
		font-family: "Microsoft YaHei";
		font-size: 90px;
		padding: 0 10px;
		line-height: 120px;
		text-align: center;
	}
	#content {
		text-align: center;
	}
		#content #new {
			width: 90%;
			border: 5px solid #e0e0e0;
			margin: 10px auto;
			font-size: 50px;
			line-height: 80px;
		}
			#content #new .no {
				padding: 30px;
				background: #FFF8E0;
			}
			#content #new .yes {
				padding: 30px;
				background: #DCF7C2;
			}
				#content #new #b {
					color: #d0d0d0;
				}
		#abc {
			width: 90%;
			margin: 0 auto;
			text-align: center;
			line-height: 60px;
			font-size: 50px;
		}
			#abc img {
				margin: 15px 0 0 0;
				border: 4px solid #e0e0e0;
			}
		#recentlyList {
			font-size: 65px;
		}
			
	#listArea h2 {
		font-family: "Microsoft YaHei";
		font-size: 60px;
		padding: 0 10px;
		line-height: 80px;
		text-align: center;
	}
	#listArea {
		background: #fff;
	}
	#listArea table {
		font-size: 40px;
		line-height: 100px;
		width: 90%;
		margin: 0 auto;
	}	
		#listArea table tr:hover {
			background: #f9f9f9;
			
		}
		#listArea table td {
			border-bottom: 1px solid #e0e0e0;
		}