@charset "utf-8";
/* UNIFORMED BROWSER RESET base on Eric Meyer reset (http://meyerweb.mzc_com/eric/tools/css/reset/) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
em, img, small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
html {font-size: 100%;height:100%; background: #F9F9F9;font-family: "Microsoft YaHei", "Microsoft YaHei";}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
input { margin: 0; }
textarea { font-family: 'Microsoft YaHei'; overflow-y: auto; }

.bigButton, .bigButton:visited {
    background: #222 repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}
.small.bigButton, .small.bigButton:visited        { font-size: 11px}
.bigButton, .bigButton:visited,
.medium.bigButton, .medium.bigButton:visited      { font-size: 13px;
                                              font-weight: bold;
                                              line-height: 1;
                                              text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
                                              }
 
.large.bigButton, .large.bigButton:visited        { font-size: 14px;
                                          padding: 8px 14px 9px; }
 
.super.bigButton, .super.bigButton:visited        { font-size: 34px;
                                          padding: 8px 14px 9px; }

.pink.bigButton, .magenta.bigButton:visited { background-color: #e22092; }
    .pink.bigButton:hover                   { background-color: #c81e82; }
    .green.bigButton, .green.bigButton:visited    { background-color: #91bd09; }
    .green.bigButton:hover                     { background-color: #749a02; }
    .red.bigButton, .red.bigButton:visited        { background-color: #e62727; }
    .red.bigButton:hover                   { background-color: #cf2525; }
    .orange.bigButton, .orange.bigButton:visited  { background-color: #ff5c00; }
    .orange.bigButton:hover                { background-color: #d45500; }
    .blue.bigButton, .blue.bigButton:visited              { background-color: #2981e4; }
    .blue.bigButton:hover                  { background-color: #2575cf; }
    .yellow.bigButton, .yellow.bigButton:visited  { background-color: #ffb515; }
    .yellow.bigButton:hover                { background-color: #fc9200; }

.blue {
	color: #2981e4;
}
#uploadBtn {
	display: block;
	margin: 100px auto 20px auto;
	font-size: 60px;
	padding: 30px 40px 30px 40px;
	text-align: center;
	width: 250px;
}
#wrapper {
	width: 760px;
	margin: 0 auto;
	height: 100%;
}
#header {
	width: 760px;
	height: 60px;
	background: #32556B;
}
	#header #logo {
		float: left;
		display: block;
		width: 40px;
		height: 40px;
		margin: 10px;
	}
	#header h1 {
		color: #FFC605;
		font-family: "Microsoft YaHei";
		font-size: 40px;
		padding: 10px;
		line-height: 40px;
	}
	
	#content h2 {
		margin: 10px;
		font-size: 30px;
		color: #808080;
	}
	#uploadArea, #listArea {
		border: 1px solid #D0D0D0;
		border-radius: 8px;
		width: 700px;
		height: 480px;
		margin: 15px auto;
		background: #fff;
		position: relative;
	}
		#listArea table {
			width: 655px;
			margin: 0 auto;
			font-size: 14px;
			font-family: 'Microsoft YaHei';
		}
			#listArea table tr {
				line-height: 35px;
			}
				#listArea table tr:hover {
					background: #f9f9f9;
				}
				#listArea table td {
					padding: 3px 0 0 10px;
					border-bottom: 1px solid #e0e0e0;
				}
	#uploadArea .howto {
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 2px;
		border: 1px solid #e0e0e0;
		cursor: pointer;
	}
		#uploadArea .howto .hint {
			display: block;
			position: absolute;
			width: 200px;
			line-height: 25px;
			right: 85px;
			top: 0;
			color: #999;
			border: 1px solid #e0e0e0;
			border-right: none;
			background: #FFF8E0;
			padding: 5px;
			font-size: 18px;
		}
	#uploadArea p.big {
		font-size: 40px;
		color: #b0b0b0;
		text-align: center;
		margin: 100px 30px 0 30px;
	}
	#uploadArea p.green {
		color: #91bd09;
	}
	#uploadArea p.small {
		font-size: 25px;
		color: #b0b0b0;
		text-align: center;
		margin: 10px 30px 0 30px;
	}
		#afterUpload .bigButton {
			margin: 10px 0 0 235px;
		}
		
	#whenUpload #progressBar {
		margin: 0 auto;
		width: 440px;
		height: 50px;
		border: 1px solid #D0D0D0;
		background: #F9F9F9;
		border-radius: 4px;
	}
		#whenUpload #progressBar .now {
			background: #749A02;
			width: 0;
			height: 50px;
		}
		
	#recentlyList {
		font-size: 50px;
	}
		
#modalBg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 12000;
	display: none;
	background: #000;
}
#modalContainer {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 12001;
	font-family: "Microsoft YaHei", Arial;
	background: transparent;
	display: none;
}
	.modal {
		position: relative;
		background: #fff;
		text-align: center;
		padding: 0 0 10px 0;
	}