<!DOCTYPE html>
<html>
<head>
	<title>文件分享</title>
	<!-- Meta Tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- External CSS -->
	{% if not tttt %}
	<link rel="stylesheet" href="{{ static_url('css/style.css') }}" media="all" type="text/css" />
	{% else %}
	<link rel="stylesheet" href="{{ static_url('css/mobile.css') }}" media="all" type="text/css" />
	{% end %}
    <script type="text/javascript" src="http://a.tbcdn.cn/libs/jquery/1.7.1/jquery.js"></script>
	<!-- 
	<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
    -->
	<script type="text/javascript" src="/static/js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
	<script type="text/javascript" src={{ static_url("js/script.js") }}></script>
</head>

<body id="listPage">
	<div id="wrapper">
		<div id="header">
			<!-- <a href="javascript:;" id="logo"><img src="/static/i/logo.png" width="80" height="80"/></a> -->
			<h1>File Broadcaster</h1>
		</div>
		<div id="content">
			<div id="listArea">
				{% if not tttt %}
				<h2>最近上传</h2>
				{% else %}
				<h2>文件列表</h2>
				{% end %}
				<table>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div id="footer"></div>
	</div>
</body>
<script type="text/javascript">
	var tttt = {{ tttt }};
</script>

</html>
