<!DOCTYPE html>
<html>
<head>
	<title>文件分享</title>
	<!-- Meta Tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- External CSS -->
	<link rel="stylesheet" href="{{ static_url('css/style.css') }}" media="all" type="text/css" />
    <script type="text/javascript" src="http://a.tbcdn.cn/libs/jquery/1.7.1/jquery.js"></script>
	<!-- 
	<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
    -->
	<script type="text/javascript" src="/static/js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/static/js/jquery.base64.js"></script>
	<script type="text/javascript" src={{ static_url("js/script.js") }}></script>
</head>


<body id="uploadPage">
	<div id="wrapper">
		<div id="header">
			<!-- <a href="javascript:;" id="logo"><img src="/static/i/logo.png" width="80" height="80"/></a> -->
			<h1>File Broadcaster</h1>
		</div>
		<div id="content">
			<div id="uploadArea">
				<h2>上传文件</h2>
				<div class="howto">
					<a href="javascript:;"><img src="" width="80" height="80" class="qrcode"/></a>
					<div class="hint">您可以通过二维码或下载链接，把上传的文件下载到手机(点击查看)</div>
				</div>
				<div id="beforeUpload" class="uploadStep">
					<!-- <p class="big">拖放本地文件到这里</p>
					<p class="small">或</p> -->
					<div id="hiddenUpload" style="display:none;">
						<input type="file" name="file" id="fileToUpload"/>
					</div>
					<a href="javascript:;" class="bigButton green super" id="uploadBtn">上传文件</a>
				</div>
				<div id="whenUpload" class="uploadStep" style="display:none;">
					<p class="big">上传中 ...</p>
					<div id="progressBar">
						<div class="now"></div>
					</div>
				</div>
				<div id="afterUpload" style="display:none;" class="uploadStep">
					<p class="big green">上传成功！</p>
					<!-- <p class="small"></p> -->
					<a href="javascript:;" class="bigButton yellow super" id="uploadAnotherBtn">上传其他文件</a>
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</div>
	
	<div id="modalBg"></div>
	<div id="modalContainer">
		<div class="modal" id="qrmodal">
			<img src="" class="qrcode"/>
			<p>或者在手机上收藏链接下载：<br/><span class="qrlink"></span></p>
		</div>
	</div>
</body>

</html>
