<!DOCTYPE html>
<html>
<head>
	<title>文件分享</title>
	<!-- Meta Tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- External CSS -->
	<link rel="stylesheet" href="{{ static_url('css/mobile.css') }}" media="all" type="text/css" />
	<script type="text/javascript" src="http://a.tbcdn.cn/libs/jquery/1.7.1/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/json.js"></script>
	<script type="text/javascript" src={{ static_url("js/script.js") }}></script>
</head>
<script type="text/javascript" src="/static/js/sockjs-0.3.min.js"></script>
<script type="text/javascript">
    var conn = null;
    
    conn = new SockJS('http://' + window.location.host + '/comet', 'websocket');
    conn.onopen = function() {
        var page_url = window.location.href;
        var channel_id = page_url.substr(page_url.indexOf('/', 7) + 1)
        channel_id = channel_id.substr(0, channel_id.length - 1)
        console.log('channel id ' + channel_id)
        conn.send(JSON.stringify({channel_name: channel_id, cmd: 'sub'}))
        console.log('Connected.');
    };
    conn.onmessage = function(e) {
        console.log('Received: ' + e.data);
        data = $.parseJSON(e.data);
        
        document.getElementById("a").innerHTML = data['filename'];
        document.getElementById("b").innerHTML = '0秒前';
        document.getElementById("link").href = "/"+data['channel']+"/download/"+data['_id']+"/";
        document.getElementById("yes").style.display = "block";
        document.getElementById("no").style.display = "none";
		$( "#yes" ).effect( 'pulsate', {}, 500, {} );
    };
    conn.onclose = function() {
        console.log('Disconnected.');
        conn = null;
    };

</script>
<body id="waitPage">
	<div id="wrapper">
		<div id="header">
			<!-- <a href="javascript:;" id="logo"><img src="/static/i/logo.png" width="80" height="80"/></a> -->
			<h1>File Broadcaster</h1>
		</div>
		<div id="content">
			<div id="new">
				{% if last_file %}
				<div class="no" style="display:none;" id="no">
				{% else %}
				<div class="no" id="no">
				{% end %}
					<p>用电脑中的豌豆荚file broadcaster插件上传文件，会在这里收到推送消息</p>
				</div>
				{% if last_file %}
				<div class="yes" id="yes">
					<p>
						您收到了新的推送文件：<br/>
						<span id="a">{{ last_file['filename'] }}</span>
						<span id="b">{{ int(last_file['ts']) }}秒前</span><br/>
						<span id="c"><a href="/{{ last_file['url'] }}" target="_blank" class="blue bigButton" id="link">点这里下载</a></span>
					</p>
				</div>
				{% else %}
				<div class="yes" style="display:none;" id="yes">
					<p>
						您收到了新的推送文件：<br/>
						<span id="a">文件名</span>
						<span id="b">x秒前</span><br/>
						<span id="c"><a href="javascript:;" target="_blank" class="blue bigButton" id="link">点这里下载</a></span>
					</p>
				</div>
				{% end %}
			</div>
			<script type="text/javascript">
			    var page_url = window.location.href;
			    var qr_url = page_url.substr(0,page_url.lastIndexOf('/')+1)
			    var img_url = "http://chart.apis.google.com/chart?cht=qr&chl=" + encodeURIComponent(qr_url) + "&chs=400x400";
			    document.write("<div id='abc'>您也可以通过二维码与朋友分享本页面<br/><img src='"+img_url+"' width='600'></div>");
			</script>
			<p><a href="/list2" id="recentlyList" class="blue">查看最近分享的文件</a></p>
		</div>
	</div>
</body>
</html>
